<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>

    <% if ( user && company ) { %>
		<h2>Welcome <%=user%> </h2>
		<h3><%=something%></h3>
		<h4><%=somethingmore%></h4>
		<h5>company name: <%=company%></h5>
		<a href="/logout">Logout</a>
	<% } else { %>

		<a href="/register">Add user</a>
		<a href="/login">Login</a>
		<a href="/addreport">Add report</a>
	<% } %>

    <img src="img/logo.png" alt="lol">
</body>
</html>